        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="/assets/logo.png" width="120" height="40" alt="Logo" />
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <div class="da-img">
                            <img src="/assets/Slider01.png" alt="image01" width="320">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
                        <div class="da-img">
                            <img src="/assets/Slider02.png" width="320" alt="image02">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <div class="da-img">
                            <img src="/assets/Slider03.png" width="320" alt="image03">
                        </div>
                    </div>
                    <!-- Start third slide -->
                    <!-- Start fourth slide -->
                    <div class="da-slide">
                        <div class="da-img">
                            <img src="/assets/Slider03.png" width="320" alt="image03">
                        </div>
                    </div>
                    <!-- Start fourth slide -->

                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->
        <!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Who We Are?</h1>
                    <p>Duis mollis placerat quam, eget laoreet tellus tempor eu. Quisque dapibus in purus in dignissim.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span4" id="first-person">
                        <div class="thumbnail">
                            <img src="/assets/Team1.jpg" alt="team 1">
                            <h3>Mr. Jatin Marjadi</h3>
                            <div class="mask">
                                <h3>Dream it, Wish it and Do it...!!</h3>
                                <br>
                                <p>This is what he has done back in the 80's and 90's when the automobile sector was a hard nut to crack. He established his workshop and gave a different dimension to it for the people of South Gujarat. He is still very much active and rich in experience into Automobile industry with knowledge of How and Where Market works, which he carries.The immense experience is all yours to encash.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="second-person">
                        <div class="thumbnail">
                            <img src="/assets/Team2.jpg" alt="team 1">
                            <h3>Mr. Sapan Marjadi</h3>
                            <div class="mask">
                                <h3>Please write something like jatinkaka</h3>
                                <br>
                                <p>Strong lives are motivated by dynamic purposes and his dynamic purpose is to make a mark of himself in the automobile sector. His quick & right suggestions to clients with perfect solution as per their need makes him as their Loyal Auto consultant. Today he is best known for his advice on an apt car for your selected segment. His ability to bring your vision of a car to reality has been giving smiles to thousands of satisfied customers. He is the knowledge bank for anything with wheels. His vision is to take the business to greater heights with dedication, devotion and determination. He is known for that, he never let his clients makes wrong choice when it comes to  wheels.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span4" id="third-person">
                        <div class="thumbnail">
                            <img src="/assets/Team3.jpg" alt="team 1">
                            <h3>Mr. Jigish Marjadi</h3>
                            <div class="mask">
                                <h3>Please write something like jatinkaka</h3>
                                <br>
                                <p>The backbone of success is hard work, determination, good planning and perseverance and Mr. Jigish Marjadi is a perfect example of all the above stated qualities. He is known for his soft spoken attitude and shares a great rapport with the customers. He is an important pillar in the Insurance sector of our firm. Best rate guaranteed is our motto with the best possible services and coverage in today's complex Insurance Industry is always a priority for our firm. As it is correctly said, " Insuring your dreams no matter what they are." He firmly believes 
"Coming together is a beginning,
Keeping together is progress,
Working together is success."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-text centered">
                    <h3>About Us</h3>
                    <p>We have taken a step ahead on moving with the e-world by launching this venture which is going to carry forward the legacy of Jatin Motors. Jatin Motors is already an established name in the automobile business and has been serving around 4000 families over the past 30 years.
					We aim to satisfy our customers by giving them the experience of buying cars both old and new with great amount of deal. You name it and we will have it for you. We have been catering to your needs since years and this little venture is to make more comfort for you to choose your happiness. It will be a one stop shop for all your automobile aspirations. Best on the market price would be a main definition of our services. We aim to build a rapport on prompt services with a touch of trust and assurance in best possible ways. We believe in providing Best Solutions to Clients by giving them genuine suggestions and catering their needs.</p>
                </div>
                <h3>Skills</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="skills">
                            <li>
                                <span class="bar" data-width="80%"></span>
                                <h3>Graphic Design</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="95%"></span>
                                <h3>Html & Css</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="68%"></span>
                                <h3>jQuery</h3>
                            </li>
                            <li>
                                <span class="bar" data-width="70%"></span>
                                <h3>Wordpress</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="highlighted-box center">
                            <h1>We're Hiring</h1>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, ullamcorper suscipit lobortis nisl ut aliquip consequat. I learned that we can do anything, but we can't do everything...</p>
                            <button class="button button-sp">Join Us</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About us section end -->
        <div class="section secondary-section">
            <div class="triangle"></div>
            <div class="container centered">
                <p class="large-text">Elegance is not the abundance of simplicity. It is the absence of complexity.</p>
                <a href="#" class="button">Purshase now</a>
            </div>
        </div>
        <!-- Contact section start -->
        <div id="contact" class="contact">
            <div class="section secondary-section">
                <div class="container">
                    <div class="title">
                        <h1>Contact Us</h1>
                        <p>Duis mollis placerat quam, eget laoreet tellus tempor eu. Quisque dapibus in purus in dignissim.</p>
                    </div>
                </div>
                <div class="map-wrapper">
                    <div class="map-canvas" id="map-canvas">Loading map...</div>
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span5 contact-form centered">
                                <h3>Say Hello</h3>
                                <div id="successSend" class="alert alert-success invisible">
                                    <strong>Well done!</strong>Your message has been sent.</div>
                                <div id="errorSend" class="alert alert-error invisible">There was an error.</div>
                                <form id="contact-form" action="php/mail.php">
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="text" id="name" name="name" placeholder="* Your name..." />
                                            <div class="error left-align" id="err-name">Please enter name.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <input class="span12" type="email" name="email" id="email" placeholder="* Your email..." />
                                            <div class="error left-align" id="err-email">Please enter valid email adress.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <textarea class="span12" name="comment" id="comment" placeholder="* Comments..."></textarea>
                                            <div class="error left-align" id="err-comment">Please enter your comment.</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button id="send-mail" class="message-btn">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="span9 center contact-info">
                        <p>123 Fifth Avenue, 12th,Belgrade,SRB 11000</p>
                        <p class="info-mail">ourstudio@somemail.com</p>
                        <p>+11 234 567 890</p>
                        <p>+11 286 543 850</p>
                        <div class="title">
                            <h3>We Are Social</h3>
                        </div>
                    </div>
                    <div class="row-fluid centered">
                        <ul class="social">
                            <li>
                                <a href="">
                                    <span class="icon-facebook-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-twitter-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-linkedin-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-pinterest-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-dribbble-circled"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-gplus-circled"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact section edn -->
        <!-- Footer section start -->
        <div class="footer">
            <p>&copy; 2013 Theme by <a href="http://www.graphberry.com">GraphBerry</a>, <a href="http://goo.gl/NM84K2">Documentation</a></p>
        </div>
        <!-- Footer section end -->
        <!-- ScrollUp button start -->
        <div class="scrollup">
            <a href="#">
                <i class="icon-up-open"></i>
            </a>
        </div>
        <!-- ScrollUp button end -->
        <!-- Include javascript -->
        <script src="/assets/jquery.js"></script>
        <script type="text/javascript" src="/assets/jquery.mixitup.js"></script>
        <script type="text/javascript" src="/assets/bootstrap.js"></script>
        <script type="text/javascript" src="/assets/modernizr.custom.js"></script>
        <script type="text/javascript" src="/assets/jquery.bxslider.js"></script>
        <script type="text/javascript" src="/assets/jquery.cslider.js"></script>
        <script type="text/javascript" src="/assets/jquery.placeholder.js"></script>
        <script type="text/javascript" src="/assets/jquery.inview.js"></script>
        <!-- Load google maps api and call initializeMap function defined in app.js -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <!-- css3-mediaqueries.js for IE8 or older -->
        <!--[if lt IE 9]>
            <script src="/assets/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/assets/app.js"></script>
        <script>
            $(document).ready(function(){
                initializeMap();
            })
        </script>