<!-- <!DOCTYPE html>
<html>
<head>
  <title>EngineChassis</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
</head>
<body>

<%#= yield %>

</body>
</html>
 -->



<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en">
    
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EngineChassis</title>
        <!-- Load Roboto font -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Load css styles -->
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
        <link rel="stylesheet" type="text/css" href="/assets/pluton.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="/assets/pluton-ie7.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/assets/jquery.cslider.css" />
        <link rel="stylesheet" type="text/css" href="/assets/jquery.bxslider.css" />
        <link rel="stylesheet" type="text/css" href="/assets/animate.css" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72.jpg">
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57.jpg">
        <link rel="shortcut icon" href="/assets/ico/favicon.jpg">
    </head>
		<body>
			<%= yield %>
		</body>
</html>